.navbar-brand{
  font-size: x-large;
  font-family: "Courier New";
  color: black;
  font-weight: bold;
}
.navbar-collapse{
  font-size: medium;
  font-family: Arial;
  font-weight: bolder;

}
.material-icons{
  font-size: large;
  color: black;
}
.navbar-light{
  color: darkgrey;
}
