<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="navbar navbar-light" style="background-color: darkgray;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">DenSH</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar">
        <li class="icon-bar"><a href="#" title="Shop"><i class="material-icons">store</i> Shop</a></li>
        <li class="icon-bar"><a href="#" title="Store Locator"><i class="material-icons">my_location</i> Store Locator</a></li>
        <li class="icon-bar"><a href="#" title="Track Your Order"><i class="material-icons">local_shipping</i> Track Your Order</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="icon-bar dropdown"><a href="#" class="dropdown-toggle" role="button"  title="My Account"><i class="material-icons">account_circle</i> My Account <span class="caret"></span></a></li>
        <li class="icon-bar"><a href="#" title="Change Language"><i class="material-icons">language</i> Language</a></li>
        <li class="icon-bar"><a href="#" title="Change Currency"><i class="material-icons">attach_money</i> Currency</a></li>
      </ul>

    </div>

  </div>

</nav>

