<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <img class="img-thumbnail" src="https://source.unsplash.com/random/1920x1080">
    </div>
    <div class="col-md-6">
      <h2>Product Name With Details</h2>
      <div class="row">
        <div class="col-md-12">
          <span class="label label-primary">Product </span>
          <span class="text-monospace">No. FF3810463</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2">
          <p class="description">
            Full Product Description With Different Details.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 bottom-rule">
          <h2 class="product-price">$129.00</h2>
        </div>
      </div>
      <div class="row add-to-cart">
        <div class="col-md-3">
          <input class="btn-lg" type="number" min="1" value="1" style="width: 100px">
        </div>
        <div class="col-md-9">
          <button class="btn btn-primary btn-lg btn-brand" style="width: 150px">
            Add to Cart
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
