.home-pic {
  background: url('src/assets/bg-home.jpg');
  height: 450px;
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.zoom:hover {
  transform: scale(0.9);
}

.animatedButton {
  border-radius: 4px;
  transition: border-radius 0.5s ease-in;
}

.animatedButton:hover {
border-radius: 16px;
}

