<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 px-0 bg-white">
      <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>
  </nav>
</div>

<div class="container my-2">
  <div class="row">
    <div class="col-12 col-md-4 mt-3" *ngFor="let item of categories">
      <div class="card border border-danger">
        <img class="card-img-top img-thumbnail border border-bottom border-success" [src]="item.imageUrl" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
          <!--
                      <a [routerLink]="'/inventory/' + item.id" class="btn btn-sm btn-success w-50 pl-5">Show More</a>
          -->
          <button class="btn btn-secondary rounded-pill w-75" [routerLink]="'/inventory/' + item.id">Show More</button>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>


