<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 px-0 bg-white">
      <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Shop</li>
    </ol>
  </nav>
</div>

<div class="d-flex justify-content-center">
  <mat-spinner *ngIf="inventoryFilter.showSpinner"></mat-spinner>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 d-none d-md-flex flex-column">
      <h4 class="text-center">Filters</h4>
      <div class="d-flex flex-column" *ngFor="let item of inventoryFilter.searchResult.filters.categories" #category>
        <button class="btn btn-light"
                (click)="showHide(category)">{{item.categoryName | uppercase}}</button>
        <div class="d-flex flex-column" #category>
          <div class="mt-1" *ngFor="let filter of item.filterItems">
            <div>
              <mat-checkbox
                #checkbox
                [checked]="filter.isChecked"
                (click)="inventoryFilter.buildFilterQuery(inventoryFilter.filterQuery, item.categoryName, filter.name, !checkbox.checked)"> {{filter.name}} - ({{filter.count}})</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-2" *ngFor="let item of inventoryFilter.searchResult.items">
          <div class="card">
            <div class="card-img-top">
              <img class="img-thumbnail" [src]="item.externalImages">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p class="card-title">{{item.title}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="card-title">Make: {{item.make}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="card-title">Model: {{item.model}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="card-title">Year: {{item.year}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="card-title">Price: {{item.price | currency}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                  <button class="btn btn-primary btn-sm btn-block text-white" (click)="productClick(item.vin)">Details
                  </button>
                </div>
                <div class="col-12 col-sm-12 col-md-6 mt-2 mt-sm-2 mt-md-0 mt-lg-0">
                  <button class="btn btn-success btn-sm btn-block" (click)="addToCart(item)">Buy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

